* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  background-color: #f4f6f8;
  max-width: 430px; 
  margin: 0 auto;
  min-height: 100vh;
  color: #333;
}


.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr ;
  align-items: center;
  padding: 16px;
  background-color: #f5f5f7;
}

.logo {
  font-size: 1.2rem;
  color:  #0079F9;
  font-weight: bold;
  justify-self:start ;
}

.boton-menu {
  background: #571ECA;
  color: white;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 0px 2px 3px #000000;
  justify-self: start;
}

.boton-carro {
  background: #571ECA;
  color: white;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 0px 2px 3px #000000;
  position: relative;
  text-decoration: none;
  
}

.boton-perfil {
  background: #571ECA;
  color: white;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 0px 2px 3px #000000
}

.iconos-derecha {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 6px; /* ajusta este número para acercar/alejar carrito y perfil */
}

.badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #1a73e8;
  color: white;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 2px 6px;
}


.main-content {
  padding: 16px;
}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #eef2f5;
  border-radius: 25px;
  padding: 8px 16px;
  margin-bottom: 24px;
  color: #80868b;
}

.search-bar input {
  border: none;
  background: transparent;
  margin-left: 8px;
  outline: none;
  width: 100%;
}


.categorias h2, .products-section h2 {
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.cuadricula {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.categoria-tarjeta{
  text-align: center;
}

.icon-circle {
  width: 56px;
  height: 56px;
  background-color: #e8f0fe;
  color: #1a73e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 8px auto;
  padding: 15px;
  cursor: pointer;
}

.categoria-tarjeta p {
  font-size: 0.85rem;
  color: #5f6368;
}


.productos-columnas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.producto-tarjeta {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  padding: 10px;
}

.imagen {
  position: relative;
  width: 100%;
  padding-top: 100%; 
  border-radius: 8px;
  overflow: hidden;
  background-color: #eee;
}

.imagen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boton-fav {
  position: absolute;
  top: 8px;
  right: 8px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #333;
  transition: transform 0.2s ease, color 0.2s ease;
}

.titulo-producto {
  font-size: 0.85rem;
  margin-top: 8px;
  font-weight: 600;
}

.precio-producto {
  font-size: 0.9rem;
  color: #571ECA;
  font-weight: bold;
  margin-top: 4px;
}

.footer {
  text-align:center;
  padding:10px;
  font-size: 0.85rem;
}

.boton-fav:hover {
  transform: scale(1.15);
}

.boton-menu {
  cursor: pointer;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: -80%; 
  width: 75%;  
  max-width: 300px;
  height: 100vh;
  background-color: #4a2ea5; 
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  transition: left 0.3s ease;
}

.menu-lateral h2 {
  color: #c6c7ff;
  margin-bottom: 20px;
}

.menu-lateral nav a {
  display: flex;
  align-items: center;
  gap:12px;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
  font-weight: 500;
}

.menu-lateral nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 999;
  display: none;
}


#toggle-menu:checked ~ .menu-lateral {
  left: 0;
}

#toggle-menu:checked ~ .menu-overlay {
  display: block;
}


.filtro-radio {
  display: none;
}

.item-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
  font-weight: 500;
  cursor: pointer;
}


#cat-tecnologia:checked ~ .main-content .producto-tarjeta:not(.tecnologia),
#cat-camisetas:checked ~ .main-content .producto-tarjeta:not(.camisetas),
#cat-pantalones:checked ~ .main-content .producto-tarjeta:not(.pantalones),
#cat-accesorios:checked ~ .main-content .producto-tarjeta:not(.accesorios) 
{
  display: none;
}

.enlace-producto {
  text-decoration: none;
  color: inherit;
  display: block;
}